# env variables 
OPENAI_API_KEY=sk-your-key-here

OPENAI_EMBEDDING_MODEL=text-embedding-3-small

OPENAI_CHAT_MODEL=gpt-5.5

PG_CONNECTION_STRING=postgresql+psycopg://arun:postgres@localhost:5432/new_multimodal_rag_db